@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Oswald:wght@300&display=swap');
.app {
  display:flex;
  flex-direction:column;
  font-family: 'Montserrat', sans-serif;
}

.items{
text-align:center;
height:50px;
}

.nav{
  background:#FF5733;
}

.nav-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  
}


.nav-items{
list-style-type:none;
margin:auto;
}
 
.link{
  text-decoration: none;
  
}

.link:visited{
  color:black
}

.link:hover{
  color:#FFC300
}

.items>h1{
  margin:auto;
}
