@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Oswald:wght@300&display=swap');

.app {
  display:flex;
  flex-direction:column;
  font-family: 'Montserrat', sans-serif;
}

.items{
text-align:center;
}

.list{
  background:#F4F2C2;
}

.table{
 margin:auto;
 margin-top:45px;
 background-image: linear-gradient(180deg, #FF5733, yellow);
 border-radius: 30px;
}

.table td{
  padding: 15px 50px;
  /* text-align: center; */
  text-align: start;
  font-weight: bold;
}
.nav{
  background:#FF5733;
}

.nav-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  
}


.nav-items{
list-style-type:none;
margin:auto;
}
 
.link{
  text-decoration: none;
  color:black;
  
}

.link:visited{
  color:black
}


.link:hover{
  color:#FFC300
}
.link:before{
  color:black
}

.items>h1{
  margin:auto;
}

form {
  background-image: linear-gradient(180deg, #FF5733, yellow);
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  margin-top:35px;
  max-width: 500px;
  padding: 30px 50px;
  border-radius:35px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}


.button{
  background-color:black;
  color:white;
  font-family: 'Montserrat',sans-serif;
  width:100 px;
  height:40px;
  margin:20px 0px;
  border-radius: 30px;
}